.actions {
    display: flex;
    gap: 1em;
    /* border: 1px solid; */
    justify-content: flex-end;
    /* background-color: var(--bg-secondary-color); */
    /* border: 1px solid var(--border-color); */

    padding: 0.5em;
}
