.btn {
    background-color: transparent;
    border: transparent;
    padding: 1em 1.5em;
    color: var(--color-primary);
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-family: inherit;

    max-width: max-content;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
}

.btn:hover {
    /* background-color: #f2f3fb; */
    background-color: var(--color-tertiary);
    transition: 0.2s ease-in;
}
.btn:disabled {
    /* background-color: var(--btn-primary-bg__disabled); */
    color: rgba(var(--color-primary-rgb), 0.6);
    background-color: var(--color-tertiary);
    cursor: not-allowed;
}

.icon {
    font-size: 18px;
    font-weight: 800;
    color: var(--color-primary);
    fill: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon svg {
    fill: inherit;
}

.btn-danger {
    color: var(--color-danger-primary) !important;
}

.btn-danger:hover {
    background-color: var(--color-danger-tertiary) !important;
}
