.MuiTab-root {
    color: var(--fc-secondary);
}
.Mui-selected {
    color: var(--color-primary);
    transition: 0.2s ease-in;
}
.Mui-error {
    color: #d32f2f !important;
}

.MuiTab-root.Mui-selected {
    color: var(--fc-strong);
    font-weight: 500;
}
.MuiTabs-indicator span {
    background-color: var(--color-primary);
}

.MuiBox-root {
    border-color: var(--border-color);
}
.MuiTabs-indicator {
    display: 'flex';
    justify-content: 'center';
    background-color: 'transparent';
}

.MuiTabs-indicatorSpan {
    border-radius: 10;
}
/* F O R M S */
.MuiFormLabel-root {
    color: var(--fc-secondary) !important;
}
.MuiFormLabel-root.Mui-focused {
    color: var(--color-primary) !important;
}

.MuiOutlinedInput-root {
    border-radius: 10px !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    /* border-color: var(--input-border-color); */
    border-color: var(--fc-primary) !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-primary) !important;
}
.MuiOutlinedInput-notchedOutline {
    border-color: var(--border-color) !important;
    outline: none !important;
}

.MuiInputAdornment-outlined p {
    color: var(--fc-secondary) !important;
}
.MuiOutlinedInput-root {
    color: var(--fc-primary) !important;
}
.MuiOutlinedInput-root input {
    color: var(--fc-primary) !important;
}
.MuiMenuItem-root {
    color: var(--fc-primary) !important;
    padding: 1em;
}
.MuiFormLabel-root-MuiInputLabel-root label {
    color: var(--fc-primary) !important;
}
.MuiMenuItem-root.Mui-selected {
    background-color: var(--bg-tertiary-color);
    color: var(--fc-primary);
}
.MuiRadio-root.Mui-checked {
    color: var(--color-primary) !important;
}
.MuiRadio-root {
    color: var(--color-primary) !important;
}

/* P A P E R  */

.MuiPaper-root {
    background-color: var(--bg-primary-color) !important;
}

/* T A B L E */

.MuiTableCell-root {
    border-bottom: 0 !important;
}

.MuiTablePagination-select option {
    background-color: var(--bg-secondary-color) !important;
}
.MuiSwitch-root .MuiSwitch-track {
    border-radius: 13px;
    background-color: var(--bg-tertiary-color);
    /* background-color: #e9e9ea; */
}
.MuiSwitch-root .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    background-color: var(--color-primary) !important;
    opacity: 1;
    border: 0;
}
.MuiOutlinedInput-root .MuiSvgIcon-root {
    fill: var(--fc-primary);
}
.Mui-disabled svg {
    fill: var(--ic-disabled-fill);
}
.MuiRadio-root.Mui-checked svg {
    fill: var(--color-primary);
}
