.box__container {
    padding: 0;
}
.title {
    /* border-bottom: 1px solid var(--border-color); */
    padding-top: 1em;
}
.col1 {
    flex: 2;
}
.col2 {
    flex: 1;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3em;
}

.main__container {
    display: flex;
    gap: 1em;
}

.row {
    border-bottom: 1px solid var(--border-color);
}

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__toggle {
    border-radius: 10px;
    color: var(--fc-primary) !important;
}

.icon__toggle:hover {
    background-color: var(--bg-secondary-color);
}
.img__container {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: rgb(221, 221, 221);
}

.data__container {
    display: flex;
    align-items: center;
    gap: 1em;
}
